:root {
    --font: "Roboto", sans-serif;
    --color-accent: #A18A68;
    --color-black: #000;
    --color-black-hover: #222222;
    --color-dark-gray: #707070;
    --color-gray: #D8D8D8;
    --color-white-light: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--font);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -mod-osx-font-smoothing: grayscale;
}

h1 {
    color: var(--color-black);
    text-align: center;
    font-size: 33px;
    font-weight: 500;
    line-height: 43px;
}